*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
}

.autho-block, .profile-block {
    position: absolute;
    display: flex;
    inset: 0;
    margin: auto;
    width: 70%;
    height: 65%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
}

.login, .signup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 50%;
    height: 100%;
    border-radius: 30px 0  0 30px;
}

.login {
    background-color: rgba(32, 137, 236, 0.77);
    border-radius:  0 29px 29px 0;
}

.header {
    position: absolute;
    top: 20px;
}

.inp-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.login-label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(100%, 400px);
    
    p {
        margin-left: 10px;
        margin-bottom: 3px;
    }
}

.log-inp, .sign-inp {
    font-size: 23px;
    width: 100%;
    padding: 10px 10px;
    background-color: #4f8eeddd;
    border: 3px solid rgb(9, 93, 202);
    border-radius: 14px;
}
.log-inp:focus-visible, .sign-inp:focus-visible {
    outline: 3px solid rgb(8, 8, 168);
    border: none;
}

.sign-inp {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.6);
}
.sign-inp:focus-visible {
    outline-color: black;
}

.togglePass {
    position: absolute;
    right: 10px;
    top: 54%;
    cursor: pointer;
}

.log-btn, .sign-btn {
    margin-top: 10px;
    padding: 10px 0;
    width: min(100%, 240px);
    font-size: 25px;
    border-radius: 14px;
    border: 3px solid rgb(9, 93, 202);
    background-color: #348efc;
    color: white;
}
.log-btn:hover, .sign-btn:hover {
    cursor: pointer;
}
.log-btn:active, .sign-btn:active {
    background-color: rgb(9, 93, 202);
    transform: translate(1px, 2px);
}

.sign-btn {
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.7);
}
.sign-btn:active {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.profile-block {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 70px;
    background-color: #d8d7d7;
}

.back {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 18px;
    cursor: pointer;
}

.profile-header {
    position: static;
    margin-bottom: 10px;
    text-align: center;
}

.profile-label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    width: min(100%, 250px);

    p {
        font-size: 18px;
    }
}

.info-inp {
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-block {
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 250px);
}

.edit-btn {
    width: 80px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #a3a3a3;
    cursor: pointer;
}

.save-btn {
    background-color: #219a1a;
}

.cancel-btn {
    width: 100px;
    background-color: #b61313;
}